{% extends 'base.html' %}
{% block content %}

    <form action="{% url 'register' %}" method="post">
            <div class="form-group">
            {% csrf_token %}
                {% for field in form %}

                    <label class="form-label">{{ field.label }}:</label>
                    {{ field }}
                    <small id="{{ field.name }}Help" class="form-text text-muted">{{ field.help_text }}</small>

                {% endfor %}
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
{% endblock %}